# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [57]:
# Initial imports
import psycopg2
import pandas as pd
import numpy as np
from numpy import mean 
from numpy import std
from numpy import percentile
import random
from sqlalchemy import create_engine
import math

In [5]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:NWFinTech@21@localhost:5432/SQL_HW")

In [6]:
#Test Query
query = "select * from merchant_category"
merchantCategoryDF = pd.read_sql(query, engine)
merchantCategoryDF

   merchant_category_id         name
0                     1   restaurant
1                     2  coffee shop
2                     3          bar
3                     4          pub
4                     5   food truck

In [24]:
# Write function that locates outliers using standard deviation
def remove_outliers(values):
    elements = np.array(values)
    mean = np.mean(elements, axis=0)
    sd = np.std(elements, axis=0)
    final_list = [x for x in values if (x > mean - 2 * sd)]
    final_list = [x for x in final_list if (x < mean + 2 * sd)]
    return final_list

In [46]:
query = "select amount from transaction_activity"
DataDF = pd.read_sql(query, engine)
DataDF.head(5)
#remove_outliers(DataDF['amount'])

   amount
0    6.22
1    3.83
2    9.61
3   19.03
4    2.95

In [42]:
# Find anomalous transactions for 3 random card holders

# Write the query cardholder 2
query = "Select card_holder.cardholder_id, card_holder.name, transaction_activity.amount, merchant_category.name as MerchantCategory, transaction_activity.date,  credit_card.card, merchant.name as MerchantName from transaction_activity   left JOIN merchant  on transaction_activity.merchant_id = merchant.merchant_id left JOIN merchant_category on merchant.merchant_category_id = merchant_category.merchant_category_id left join credit_card on transaction_activity.card =  credit_card.card left join card_holder on credit_card.cardholder_id = card_holder.cardholder_id  where card_holder.cardholder_id in (2) order by card_holder, date, amount asc" 
# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
CardHolder2DF = pd.read_sql(query, engine)
#len(CardHolder2DF['amount'])
len(remove_outliers(CardHolder2DF['amount']))

99

In [43]:
# Write the query cardholder 2
query = "Select card_holder.cardholder_id, card_holder.name, transaction_activity.amount, merchant_category.name as MerchantCategory, transaction_activity.date,  credit_card.card, merchant.name as MerchantName from transaction_activity   left JOIN merchant  on transaction_activity.merchant_id = merchant.merchant_id left JOIN merchant_category on merchant.merchant_category_id = merchant_category.merchant_category_id left join credit_card on transaction_activity.card =  credit_card.card left join card_holder on credit_card.cardholder_id = card_holder.cardholder_id  where card_holder.cardholder_id in (18) order by card_holder, date, amount asc" 
# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
CardHolder18DF = pd.read_sql(query, engine)
#len(CardHolder2DF['amount'])
len(remove_outliers(CardHolder18DF['amount']))

126

In [44]:
# Write the query cardholder 2
query = "Select card_holder.cardholder_id, card_holder.name, transaction_activity.amount, merchant_category.name as MerchantCategory, transaction_activity.date,  credit_card.card, merchant.name as MerchantName from transaction_activity   left JOIN merchant  on transaction_activity.merchant_id = merchant.merchant_id left JOIN merchant_category on merchant.merchant_category_id = merchant_category.merchant_category_id left join credit_card on transaction_activity.card =  credit_card.card left join card_holder on credit_card.cardholder_id = card_holder.cardholder_id  where card_holder.cardholder_id in (25) order by card_holder, date, amount asc" 
# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
CardHolder25DF = pd.read_sql(query, engine)
#len(CardHolder2DF['amount'])
len(remove_outliers(CardHolder25DF['amount']))

115

## Identifying Outliers Using Interquartile Range

In [66]:
# Write a function that locates outliers using interquartile range
def Outliers_interquartile_range(values):
    data_mean = (np.mean(values))
    data_std = (np.std(values))
    q25, q75 = percentile(values, 25), percentile(values, 75)
    iqr = q75 - q25
    cut_off = iqr * 1.5
    lower, upper = q25 - cut_off, q75 + cut_off
    outliers = [x for x in values if x < lower or x > upper]
    return outliers

In [67]:
# Find anomalous transactions for 3 random card holders
# Write the query cardholder 2
query = "Select card_holder.cardholder_id, card_holder.name, transaction_activity.amount, merchant_category.name as MerchantCategory, transaction_activity.date,  credit_card.card, merchant.name as MerchantName from transaction_activity   left JOIN merchant  on transaction_activity.merchant_id = merchant.merchant_id left JOIN merchant_category on merchant.merchant_category_id = merchant_category.merchant_category_id left join credit_card on transaction_activity.card =  credit_card.card left join card_holder on credit_card.cardholder_id = card_holder.cardholder_id  where card_holder.cardholder_id in (2) order by card_holder, date, amount asc" 
# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
CardHolder2DF = pd.read_sql(query, engine)
#len(CardHolder2DF['amount'])
Outliers_interquartile_range(CardHolder2DF['amount'])

[]

In [68]:
query = "Select card_holder.cardholder_id, card_holder.name, transaction_activity.amount, merchant_category.name as MerchantCategory, transaction_activity.date,  credit_card.card, merchant.name as MerchantName from transaction_activity   left JOIN merchant  on transaction_activity.merchant_id = merchant.merchant_id left JOIN merchant_category on merchant.merchant_category_id = merchant_category.merchant_category_id left join credit_card on transaction_activity.card =  credit_card.card left join card_holder on credit_card.cardholder_id = card_holder.cardholder_id  where card_holder.cardholder_id in (18) order by card_holder, date, amount asc" 
# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
CardHolder18DF = pd.read_sql(query, engine)
#len(CardHolder2DF['amount'])
Outliers_interquartile_range(CardHolder18DF['amount'])

[175.0,
 333.0,
 1839.0,
 1077.0,
 1814.0,
 121.0,
 117.0,
 974.0,
 458.0,
 1176.0,
 1769.0000000000002,
 1154.0]

In [69]:
query = "Select card_holder.cardholder_id, card_holder.name, transaction_activity.amount, merchant_category.name as MerchantCategory, transaction_activity.date,  credit_card.card, merchant.name as MerchantName from transaction_activity   left JOIN merchant  on transaction_activity.merchant_id = merchant.merchant_id left JOIN merchant_category on merchant.merchant_category_id = merchant_category.merchant_category_id left join credit_card on transaction_activity.card =  credit_card.card left join card_holder on credit_card.cardholder_id = card_holder.cardholder_id  where card_holder.cardholder_id in (25) order by card_holder, date, amount asc" 
# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
CardHolder25DF = pd.read_sql(query, engine)
#len(CardHolder2DF['amount'])
Outliers_interquartile_range(CardHolder25DF['amount'])

[1177.0,
 1334.0,
 100.0,
 1063.0,
 269.0,
 1046.0,
 1162.0,
 749.0,
 1813.0,
 1001.0,
 137.0,
 1074.0]